BODY
{
	background-color: #F5EEFF;
	color: black;
	font-family: sans-serif;
}
XMP,TT
{
	font-family: courier;
}
H1,H2,H3,H4,H5,H6,P,UL,OL,DL
{
	font-family: sans-serif;
}
A
{
	text-decoration: none;
	font-weight: bold;
}
FORM
{
	clear: both;
}
TABLE
{
	background-color: #C5BBCC;
	font-family: sans-serif;
}
TD
{
	background-color: #D5CCDD;
	font-family: sans-serif;
	color: black;
	vertical-align: top;
}
TH
{
	background-color: #837788;
	font-family: sans-serif;
	color: white;
	vertical-align: top;
}
IMG
{
	float: left;
	border: solid black;
	border-width: 1px;
}
#Quotation
{
	font-style: italic;
}
#RightImg
{
	float: right;
}
#LeftNav
{
	border-width: 0px;
}
#RightNav
{
	float: right;
	border-width: 0px;
}
#Contents
{
	font-size: 8pt;
}
