Body
{
	background-color: #386CA0;
}
#Interface
{
	background-color: #386CA0;
	visibility: hidden;
}
#History
{
	background-color: #386CA0;
}
#HistoryBack
{
	background-color: #B8BCB8;
}
#User
{
	font-family: sans-serif;
	font-size: 8pt;
	color: #585C58;
}
#Machine
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #585C58;
}
#Input
{
	background-color: #90A0A8;
}
#InputBox
{
	background-color: green;
}
#Answer
{
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
}
#Question
{
	font-family: sans-serif;
	font-size: 10pt;
}
#BrowserFrame
{
	
}
