/*============================================================================*/

BODY {
	background-color: white;
	color: black;
	font-family: sans-serif;
}
A {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}
P {
	text-align: justify;
}

TD.Question {
	background-color: black;
	color: white;
	font-weight: bold;
}
TD.Answer {
	background-color: #CCCCCC;
}

/*============================================================================*/
